{% extends 'base.html.twig' %}

{% block title %}{% trans %}Validate Invitation{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Home': 'app_index',
        'Invitation code': ''
        } %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class='text-center bg-light align-content-center justify-content-center rounded row'>
        <h1 class='text-primary col-12'>{% trans %}Validating code{% endtrans %}</h1>
        <p class='text-muted col-12'>{% trans %}Enter you code to validating your invitation{% endtrans %}.</p>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
