<footer>
    <nav class="navbar fixed-bottom bg-light flex-column navbar-light">
        <ul class="navbar-nav justify-content-end ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <button class="btn btn-light rounded-circle" onclick="topFunction()" title="{% trans %}Scroll to top{% endtrans %}">
                    <i class="fas fa-arrow-up"></i>
                </button>
            </li>
        </ul>
        
        <p class="text-center w-100 mb-0 py-2 text-muted">©{{ 'now'|date('Y') }} Planer</p>
    </nav>
</footer>