{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin home{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Admin': 'admin_index',
        'My company': ''
    } %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="rounded bg-light row pt-2 text-center">
        <div class="d-flex justify-content-between align-items-baseline col-10 offset-1">
            <h1 class="text-secondary mb-0">{% trans %}My company{% endtrans %}</h1>
            <a href="{{ path('admin_company_options') }}"><i class="fas fa-cogs"></i></a>
        </div>
        
        <div class="col-12 col-lg-6 offset-lg-3">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}