{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Home': 'app_index',
        'Account': 'my_account',
        'Reset Password': ''
        } %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="rounded bg-light row align-items-center">
        <p class="col-12 col-lg-8 offset-lg-2">
            
            {{ "If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
            This link will expire in " ~ resetToken.expirationMessageKey ~ ".
            If you don't receive an email please check your spam folder or <a href='" ~ path('app_forgot_password_request') ~ "'>try again</a>."|trans|raw }}
        </p>
    </div>
{% endblock %}
