{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Home': 'app_index',
        'Account': 'my_account',
        'Resetting Password': ''
        } %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="col-md-12 h-75 d-flex align-items-center justify-content-center flex-column text-center bg-light rounded">
        <h1>Reset your password</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Reset password</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
