{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row h-100vh w-100 d-flex align-items-center">
        <div class="col-md-12 d-flex align-items-center justify-content-center">
            
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}