services:
    web:
        image: php:8.3-apache
        container_name: Planer
        build:
            context: .
            dockerfile: dockerfile
        environment:
            - MYSQL_USER=admin
            - MYSQL_PASSWORD=fapirmaf
            - MYSQL_DATABASE=planer-db
        volumes:
            - ./../:/var/www/html
            - ./000-default.conf:/etc/apache2/sites-available/000-default.conf
        command: sh -c "a2enmod rewrite && docker-php-ext-install pdo pdo_mysql && apache2-foreground"
        depends_on:
            - mysql
        links:
            - 'mysql:mysql'

    mysql:
        image: mariadb:10.2
        container_name: Planer-database
        ports:
            - "8020:3306"
        working_dir: /application
        platform: linux/amd64
        environment:
            - MYSQL_USER=admin
            - MYSQL_PASSWORD=fapirmaf
            - MYSQL_DATABASE=planer-db
            - MYSQL_ROOT_PASSWORD=64ra97!
    
    portainer:
        container_name: portainer
        image: portainer/portainer-ce:lts
        restart: always
        volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - portainer_data:/data
        ports:
        - 9443:9443
        - 8000:8000  # Remove if you do not intend to use Edge Agents
volumes:
  portainer_data:
    name: portainer_data

networks:
  default:
    name: portainer_network