{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div class="col-lg-8 col-12 offset-lg-2 h-100">
    <form action="{{ path('login') }}" method="post" class="d-flex justify-content-center h-75 align-items-center flex-column bg-light p-4">
        <h1 class="text-secondary">Login to account</h1>
        <p>To use Planer, login with username and password.</p>
        <label for="username">Username</label>
        <input type="text" id="username" name="_username" class='form-control text-center'/>

        <label for="password">Password</label>
        <input type="password" id="password" name="_password" class='form-control text-center'/>

        <input type="hidden" name="_target_path" value="/account" />

        <div class="d-flex w-100 justify-content-between">
            <a href="{{ path('register') }}" class="mt-2">Create account</a>
            <a href="{{ path('app_forgot_password_request') }}" class="mt-2">Forgot password</a>
        </div>
        

        <button type="submit" class='btn btn-primary mt-2'>login</button>
    </form>
</div>
{% endblock %}
