{% extends 'base.html.twig' %}

{% block title %}{% trans %}Welcome on Planer{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Home': 'app_index'
        } %}

    {{ parent() }}
{% endblock %}

{% block body %}
<div class="row mt-5 align-content-center">
    <a href="{{ path('login') }}" class="col-md-6 col-12 py-5 display-5 text-primary text-center no-decoration border border-primary">
        <i class="fas fa-user fa-3x mb-3"></i><br>
        {% trans %}I already have an account{% endtrans %}
    </a>
    <a href="{{ path('register') }}" class="col-md-6 col-12 py-5 display-5 text-white bg-primary text-center no-decoration">
        <i class="fas fa-plus fa-3x mb-3"></i><br>
        {% trans %}I create my account{% endtrans %}
    </a>
</div>
{% endblock %}
