{% extends 'base.html.twig' %}

{% block title %}{% trans %}Welcome on Planer{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Home': 'app_index'
        } %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        <h2 class="text-secondary">{% trans %}My calendar{% endtrans %}</h2>

        {% include "Calendar/view.html.twig" with {'users': [app.user]} %}
    </div>

    <div class="row border-top">
        <div class="col-md-6">
            {{ block('events') }}
        </div>
    </div>
    

{% endblock %}

{% block events %}
    {% set weeks = weeks('now'|date('d-m-Y'), app.user) %}
    <div class="border-end pt-2 mt-2">
        <h2 class="text-secondary">{% trans %}My week events{% endtrans %}</h2>
        
        {% include "calendar_event/EventCalendar.html.twig" with {'weeks': weeks} %}
    </div>
{% endblock %}