@font-face {
    font-family: 'Caviar';
    src: url('../fonts/Caviar-Dreams/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advent';
    src: url('../fonts/web fonts/adventpro_regular_macroman/adventpro-regular-webfont.eot');
    src: url('../fonts/web fonts/adventpro_regular_macroman/adventpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/web fonts/adventpro_regular_macroman/adventpro-regular-webfont.woff') format('woff'),
         url('../fonts/web fonts/adventpro_regular_macroman/adventpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/web fonts/adventpro_regular_macroman/adventpro-regular-webfont.svg#advent_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a, p, button, .poiret, h1, h2, h3, h4, h5, .btn {
    font-family: 'advent', sans-serif;
}

.nav-item {
    font-weight: bold;
}

.navbar-fixed-top .nav-item {
    font-size: larger;
}