{% extends 'base.html.twig' %}

{% block title %}{% trans %}My events{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Home': 'app_index',
        'Events': 'app_calendar_event'
        } %}

    {{ parent() }}
{% endblock %}

{% block body %}
    {% set weeks = weeks('now'|date('d-m-Y'), app.user) %}
    <div class="">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="text-primary">{% trans %}My events{% endtrans %}</h1>
        </div>

        {% include 'calendar_event/EventCalendar.html.twig' with {'weeks': weeks, 'withList': true} %}
    </div>
{% endblock %}