<h1>{% trans %}Hi! Please confirm your email{% endtrans %} !</h1>

<p>
    {% trans %}Please confirm your email address by clicking the following link{% endtrans %} : <br>
    <a href="{{ signedUrl|raw }}">{% trans %}Confirm my Email{% endtrans %}</a>.
    {% trans with {'%delay%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')} %}This link will expire in %delay%{% endtrans %}.
</p>

<p>
    Cheers!
</p>
